@font-face { font-family: TTWP; src: url("/static/fonts/TruetypewriterPolyglott.ttf"); }

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
    font-family: monospace;
    position: relative;
    min-height: 100vh;
}

footer {
    padding: 0.5%;
    padding-left: 1%;
    padding-bottom: 2.5rem;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.header {
    background-image: url("/static/assets/background.png");

    font-family: TTWP;
    color: #ffffff;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    padding: 2%;
}

.col {
    text-align: center;
}