@font-face { font-family: TTWP; src: url("/static/fonts/TruetypewriterPolyglott.ttf"); }

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
    font-family: monospace;
}

.header {
    background-image: url("/static/assets/background.png");

    font-family: TTWP;
    color: #ffffff;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}