<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>0x0000 file hosting</title>
        <meta charset="utf-8">
        <meta name="language" content="english">
        <meta name="author" content="Supercolbat">
        <meta name="viewport" content="width=device-width, initial-scale=0.0">
        <meta name="description" content="A file hosting application.">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />
    </head>
    <body>
        <div class="header">
            <h1>0x0000 file hosting</h1>
        </div>
    </body>
</html>