<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>0x0000 file upload</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}">

        <meta charset="utf-8">
        <meta name="language" content="english">
        <meta name="author" content="Supercolbat">
        <meta name="viewport" content="width=device-width, initial-scale=0.0">
        <meta name="description" content="An online file hosting and url shortening application.">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src ="{{ url_for('static', filename='scripts/urlshorten.js') }}"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
        
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/global.css') }}" />
    </head>
    <body>
        <a class="github-fork-ribbon right-top" href="https://github.com/Supercolbat/0x0000" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        <div class="jumbotron rounded-0 header">
            <h1>upload files</h1>
            <br>
            <h2>WIP</h2>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" enctype="multipart/form-data">
                    <input id="url" type="text" name="url" placeholder="https://example.com/path" autocomplete="off">
                    <br><br>
                    <button id="submit" type="button" class="btn btn-primary btn-sm">Shorten</button>
                </form>
            </div>
            <div class="col">
                <h3>Information</h3>        
                <p>Shortened URL's last forever!</p>
            </div>
        </div>
        <footer>
            <a href="https://repl.it/@JoeyLent">@JoeyLent</a> on repl.it  |  <a href="https://github.com/Supercolbat">Supercolbat</a> on github</a>
        </footer>
    </body>

    <!-- Modal -->
    <div id="alreadyshortened-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">URL already shortened</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
    <div id="notfound-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">URL couldn't be accessed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Please check that the URL is written correctly or the website is up.</p>
                </div>
            </div>
        </div>
    </div>
</html>