<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>0x0000 file upload</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}">

        <meta charset="utf-8">
        <meta name="language" content="english">
        <meta name="author" content="Supercolbat">
        <meta name="viewport" content="width=device-width, initial-scale=0.0">
        <meta name="description" content="An online file hosting application.">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
        
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/global.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />
    </head>
    <body>
        <a class="github-fork-ribbon right-top" href="hhttps://github.com/Supercolbat/0x0000" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        <div class="jumbotron rounded-0 header">
            <h1>upload files</h1>
            <br>
            <h2>WIP</h2>
        </div>
        <div class="row">
            <div class="col">
                <h3>Upload file</h3>
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <br><br>
                    <button type="submit" class="btn btn-primary btn-sm">Upload file</button>
                </form>
            </div>
            <div class="col">
                <h3>Information</h3>        
                <p>You can only upload a maximum of <b>10mb</b> at a time</p>
                <p>Files only stay up for <b>2 months</b> then get deleted.</p>
            </div>
        </div>
        <footer>
            <a href="https://repl.it/@JoeyLent">@JoeyLent</a> on repl.it  |  <a href="https://github.com/Supercolbat">Supercolbat</a> on github</a>
        </footer>
    </body>
</html>